body .check{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form1{
    left: 50px;
    top: 150px;
    display: flex;
    flex-flow: column;
    width: 419px;
    /* align-items: center; */
    position: absolute;
    justify-content: center;
}
.bt{
    width: 100px;

}